<li>
    {{name}}

    <button class="change-status" data-id="{{id}}" data-newburger="{{devoured}}">
        {{#if devoured}}Devoured{{else}}Available{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>