<li>
    <p> {{burger_name}}</p>p>
    <button class="eaten" data-id="{{id}}" data-newburger="{{devoured}}">
        {{#if devoured}}Devoured{{else}}Available{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>